.feed {
 display: grid;
 position: relative;
 height: 100vh;
 flex: .8;
 margin-left: 20px;
   
}

.feed__container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;

}
/* 
.mb-1 {
    margin-n: 0.25rem !important;
  } */