a {
  outline: none;
  padding-bottom: 34px;
  color: gray;
  text-decoration: none !important;
}

a:hover  {
  cursor: pointer;
  color: #0fc1ce;
  border-bottom: 5px solid #0fc1ce;
}

.headerOption__avatar {
  /* padding-bottom: 34px; */
}

.headerOption__link {
  padding-bottom: 20px !important;
}

.headerOption__avatar:hover {
  color: #0fc1ce;
  cursor: pointer;
  /* border-bottom: 5px solid #0fc1ce; */
}
