.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  width: 40px;
  /* background-color: whitesmoke; */
  height: 100vh;
  overflow-y: auto;
}

.sidebar_header {
  min-width: 339px !important;
  /* margin-left: 15px; */
  display: flex;
}

.card-header {
  min-width: 300px !important;
  padding: 0 !important;
  background: white !important;
}

.card-header > button {
  outline: none !important;
  border: none !important;
  visibility: none;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-link {
    font-weight: 400 ;
    color: grey !important;
    text-decoration: none !important;
}