.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: #FBFDFF !important;
  /* overflow: hidden; */
 
  flex: 0.2;
  width: 40px;
  min-width: fit-content;

  /* background-color: whitesmoke; */
  height: 100vh;
}

.sidebar_header {
  min-width: 339px !important;
  /* margin-left: 15px; */
  display: flex;
  width: 100% !important;
}

.card {
  border: 0 !important;
  margin: 10px !important;
  /* border-right: 1px solid lightgrey !important; */
 
}
.card-header {
  min-width: 300px !important;
  /* padding: 0 !important; */
  background: white !important;
  width: 341px !important;
  /* border-bottom: 0.3px !important; */

}

.card-body {
  background-color: #FBFDFF !important;
}

.card-header > button {
  outline: none !important;
  border: none !important;
  visibility: none;
  /* width: 100% !important; */
 
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-link {
  font-weight: 400;
  color: black !important;
  text-decoration: none !important;
}
